.friendMessage {

}

.friendImageAndText {
    display: flex;
    max-width: 100vh;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {
    max-width: 100%;
}

.friendTime {

}
